.inventorySearch {
    width: 100%;
}


.searchbar {
    position: relative;
    width: 100%;
}

.searchbar input {
    width: 100%;
    height: 48px;
    border-radius: 50px;
    border: 2px solid black;
    padding-left: 45px;
    font-size: 1rem;
}

.searchbar label {
    position: absolute;
    left: 7pt;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
}

.inventoryCategoryField {
    width: 100%;
    height: 48px;
    border-radius: 50px;
    border: 2px solid black;
    padding: 0 15px;
}

.btn-success {
    height: 48px;
    white-space: nowrap;
}


.productTable {
    width: 100%;
}

.productTable th {
    background-color: gray;
    padding: 1em;
}

.productTable td {
    border-bottom: solid 2px black;
    padding: 1em;
}

.paginationLinks a {
    background-color: gray;
    color: black;
    width: 1cm;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5pt;
}