@import url('https://fonts.googleapis.com/css2?family=Namdhinggo:wght@400;500;600;700;800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body {
    margin: 0;
    height: 100vh;
    background: url('../assets/system-bg.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}
main {   
    width: 100%;
}

.registerContainer {
     background-color: white;
     box-shadow: 1pt 2pt 3pt rgb(0, 0, 0, 0.5);
     width: 80%;
}

.namdhinggo-regular {
  font-family: "Namdhinggo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2cm !important;
}



label {
    font-weight: 700;   
}

.registrationStep {
    font-size: 2em;
    color: white;

    width: 70px;
    height: 70px;

    background-color: #2E7906;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stepLine {
    width: 120px;
    border: 1px solid black;
    opacity: 0.5;

    transform: translateY(-1em);
}

.userInput {
    border: none;
    font-size: 1em;
    height: 1cm;
    box-shadow: 1pt 2pt 3pt rgb(0, 0, 0, 0.5);
}